APP_PORT=8080
POSTGRES_PORT=5433

POSTGRES_DB=warriors
POSTGRES_USER=warriors
POSTGRES_PASSWORD=warriors

DB_HOST=127.0.0.1
DB_PORT=5433
DB_DATABASE=warriors
DB_USERNAME=warriors
DB_PASSWORD=warriors
